.code-result-div {
  width: 25vw;
  height: 5vh;
  background: #151515;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code-result {
  color: #ffffff
}

a {
  display: block;
}

#demo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

i {
  color: gray;
}

h1, h2 {
  text-align: center;
}

#sommaire {
  display: inline-block;
  padding-right: 50px;
}

ul, .txt { 
  padding: 20px;
  border: black solid 1px;
  border-radius: 25px;
}